<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @property.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @property.price %><strong>円</strong>
</p>

<p>
  <strong>Address:</strong>
  <%= @property.address %>
</p>

<p>
  <strong>Constraction:</strong>
  <%= @property.constraction %><strong>年</strong>
</p>

<p>
  <strong>Remark:</strong>
  <%= @property.remark %>
</p>

<% @property.stations.each.with_index(1) do |station, index| %>
<p>最寄駅<%= index %></p>
<p>
  <strong>name:</strong>
  <%= station.name %>
</p>
<p>
  <strong>route_name:</strong>
  <%= station.route_name %>
</p>
<p>
  <strong>walking:</strong>
  <%= station.walking %>分
</p>
<% end %>

<%= link_to '編集', edit_property_path(@property) %> |
<%= link_to '戻る', properties_path %>
